.game-over-window{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.588);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    font-family: 'Rye', cursive;
    font-weight: normal;
}

.game-over-window h3 {
    font-weight: normal;
    font-size: 3.5rem;
    margin:0;
    padding: 0;  
    letter-spacing: 10px;
    color: #ffa705;
}

.game-over-container {
    position: relative;
    width: 650px;
    background-color: #AC714A;
    border-radius: 10px;
    padding: 1rem;
}

.results-container {
    padding-top: 1rem;
    background-color: burlywood;
    border-radius: 5px;
}

.current-player-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-over-window h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
}
.player-score p{
    font-size: 2.5rem;
    margin: 0;
    color: #880606;
}

.scoreboard-snippet {
    padding: 1rem 2rem;
}

.name-input {
    font-family: Lora;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #880606;
    background-color: #C3976A;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.3rem 0.5rem ;
}

::placeholder { 
    color: #2413084f;
    opacity: 2; 
  }


